@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Roboto:wght@100;300;500;700;900&display=swap');

.icon-img {
    margin-right: 10px;
}

html,
body {
    margin: 0;
}

body {
    overflow-y: auto;
    background-color: #3C63EE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(./assets/imgs/background_square.png);
    background-repeat: repeat;
    background-size: 100px 100px;
    animation: animatedBackground 20s linear infinite;
}


@media only screen and (min-width : 820px) {
    body {
        animation: animatedBackground 60s linear infinite;
    }
}

@keyframes animatedBackground {
    from {
        background-position: 0% 0%;
    }

    to {
        background-position: 100% 100%;
    }
}

button {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #000;
}

.email-box {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #FFF;
    text-align: center;
}

.email-box span {
    margin-top: 8px;
    font-size: 16px;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding-bottom: 30px;
    padding-left: 0 !important;
}

.spoiler,
.hidden {
    display: none !important;
}

.telegram-links {
    display: flex;
    flex-direction: row;
}

.link-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    width: 300px;
    background-color: #fff;
    border: 4px solid;
    border-color: #7bda4b;
    position: relative;
    padding: 0.5rem 0.8rem;
    cursor: pointer;
    text-align: start;
    transition: border-color .2s;
}

button::before {
    content: "";
    position: absolute;
    right: -11px;
    top: 1px;
    width: 98%;
    height: 98%;
    background-color: rgb(87, 197, 22);
    background-size: 12px, 100%;
    border: 0.4rem solid;
    border-color: #7bda4b;
    transition: border-color .2s, background-color .2s;
    z-index: -2;
}

.link-btn:hover {
    border-color: #468328;
    transition: border-color .2s;
}

button:hover::before {
    border-color: #468328;
    transition: border-color .2s, background-color .2s;
    background-color: #468328;

}

.link-btn.agregator {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.link-btn.agregator .agregator-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0px;
}

nav.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
}

#portal-wrapper {
    margin-top: 12px;
    margin-bottom: 20px;
}

#list-wrapper-desktop {
    display: flex;
    flex-direction: row;
    gap: 36px;
}

#list-wrapper-desktop li,
#list-wrapper-mobile li {
    width: 100%;
    margin-bottom: 25px;
}


#list-wrapper-desktop li:last-child,
#list-wrapper-mobile li:last-child {
    margin-bottom: 50px;
}

.agregator-link {
    color: #000;
    transition: color .1s;
}

.agregator-link:hover {
    color: #136602;
    transition: color .1s;
}

footer {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: #FFF;
    align-items: center;
    padding-top: 24px;
    font-size: 11px;
}